[submodule "lain"]
	path = lain
	url = https://github.com/copycat-killer/lain
[submodule "cyclefocus"]
	path = cyclefocus
	url = https://github.com/blueyed/awesome-cyclefocus
[submodule "freedesktop"]
	path = freedesktop
	url = https://github.com/copycat-killer/awesome-freedesktop.git
